node_modules
dist
build
coverage

pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

.env
.env.*
!.env.example

.vscode
.idea
.DS_Store

# Generated migrations
src/database/migrations/

# Logs
logs/
*.log

# Docker
docker-data/
